{% extends 'layout.html' %}

{% block 'title' %} Register  - Django Project {% endblock %}



{% block 'content' %}
    <h1>Register New Customer.</h1>
    <a href=" {% url 'customers' %} ">Customers</a>

    <form method="POST" action=" {% url 'signup_customer_form' %} ">

        {% csrf_token %}
        
        <!-- {{ form.as_p }} -->




        <label for="first_name"> First Name </label>
        {{ form.first_name }}

        <br>
        <label for="last_name"> Last Name </label>
        {{ form.last_name }}

        <br>
        <label for="email"> Email </label>
        {{ form.email }}

        <br>
        <label for="phone"> Phone </label>
        {{ form.phone }}

        <br>
        <label for="password"> Password </label>
        {{ form.password }}

        <br>
        <label for="confirm_password"> Password (again) </label>
        {{ form.confirm_password }}

        <br>

        <button type="submit"> signup </button>

    </form>



{% endblock %}
